.friend_list {
    width: 250px;
    height: 450px;
    margin: auto;
    border: solid 1px #b1bfc7;
}

.item {
    display: flex;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 0.3em;
    padding-left: 10px;
    border-radius: 2px;
}

.statusOnline,
.statusOffline {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #199908;
    margin: 0 15px 0 15px;
}

.statusOffline {
    background-color: #de1212;
}

.avatar {
    border-radius: 3px;
    margin: 10px;
}

.name {
    font-family: "Segoe UI";
    color: #535759;
    font-size: 20px;
    font-weight: 600;
}